<div class="sidebar">
  <div class="sidebar-header">
    <h2>ERP</h2>
  </div>
  <nav class="sidebar-nav">
    <a routerLink="/app/dashboard" routerLinkActive="active">
      <i class=""></i> Inicio
    </a>
    <a routerLink="" routerLinkActive="active">
      <i class=""></i> Nose
    </a>
    <a routerLink="" routerLinkActive="active">
      <i class=""></i> Nose
    </a>
  </nav>
  <div class="sidebar-footer">
    <a routerLink="/">
      <i class=""></i> Cerrar sesión
    </a>
  </div>
</div>